Source: ros-noetic-robotont-gazebo
Section: misc
Priority: optional
Maintainer: Veiko Vunder <veiko.vunder@ut.ee>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-joy, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs, ros-noetic-tf
Homepage: https://wiki.ros.org/robotont
Standards-Version: 3.9.2

Package: ros-noetic-robotont-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-gazebo-ros, ros-noetic-gazebo-ros-pkgs, ros-noetic-joy, ros-noetic-nav-msgs, ros-noetic-robotont-description, ros-noetic-robotont-nuc-description, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs, ros-noetic-tf
Description: The robotont_gazebo package
